@import 'variables';


.window-background {
    padding-top: 100%;
position: relative;

}

.front {
    background: $front-image;
    
    position: absolute;
    top: 0;
    z-index: 2;
    cursor: pointer;

}

  .front  p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Lato";
        color: $color-light;
        padding: 20px;
        width: 50%;
        height: 50%;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.7);
        font-weight: 700;
        font-size: 4rem;
    
    }

    .front.open {
        transform: rotateY(180deg);
    }


.back {
    position: absolute;
    background: $back-image;
   cursor: pointer;
    top: 0px;
    left: 0px;
    z-index: 1;
    transform: rotateY(180deg);
}

   .back.open {
        z-index: 2;
        transform: rotateY(0deg);
    }

  .back p {
        font-family: "Lato";
        color: $color-dark;
        padding: 10px;
        font-size: 1.4rem;
        text-align: center;
        font-weight: bold;
    }


.window {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: all .5s;
    transform-style: preserve-3d;
    border-radius: 20px;
    border: 1px solid $color-light;
    box-sizing: border-box;
 
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;

}

.window-content {
    display: grid;
     
        border: solid $color-dark 1px;
      max-height: 70%;
     max-width: 80%;
     // max-width: 90%;
    /*     min-width: 50%;
        min-height: 50%; */
        color: $color-dark;
        background: rgb(84, 168, 78);
        border-radius: 5px;
        box-shadow: 0 0 5px $color-dark; 
        position: absolute;    
        padding: 2rem;
        top: 50%;
        left: 50%;
        font-size: 20px;
        z-index: 1000;

        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);   
     
        overflow-y: scroll;
}

%btn-shared {
   
    border-radius: 5px;
   // height: 3vh;
    border: $color-dark solid 1px;
    padding: 4px;
    font-family: "Lato";
    font-weight: lighter;  
    font-size: large;
    color: $color-light;
    cursor: pointer;

}

.btn {
    &-close {
        @extend %btn-shared;
        background-color: green;
    margin-top: 2rem;
    margin-bottom: 2rem;
        width: 15vh;
        

        &:hover {
            background-color: rgb(0, 90, 0);
        }

    }
    &-overlay {
        @extend %btn-shared;
        background-color: #B3000C;
        bottom: 10px;
        right: 10px;
        position: absolute;
        padding: 5px;

        &:hover {
            background-color: #91010b;

        }
    }
 
   
}

#img {
    border: 2px $color-dark solid;
    width: 35vh;
    margin-left: 0 !important
}

img {
    border: solid 1px black;
    margin-top: 1rem;
    margin-left: 1rem;
}

#overlayText {
 
}


a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(138, 0, 0);
  }
