@import './Window/variables';

html {
  background-color: #000;
  background-image: url('https://source.unsplash.com/5PQn41LFsQk') ;
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
}

body {
  &:before,
  &:after {
    content: "";
    position: fixed;
    top: -3000%;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(black, 0.01);
   -webkit-animation-name: MOVE-BG;
    animation-name: MOVE-BG;
   -webkit-animation-duration: 2000s;
    animation-duration: 2000s;
   -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite ;
  -webkit-animation-iteration-count: infinite;
  }
}
body {
  &:before {
    filter: blur(1px);
    opacity: 0.5;
  }
  &:after {
    filter: blur(2px);
    top: -1500%;
    background-image: url(http://www.freepngimg.com/download/winter_snow/4-2-white-snow-png.png);
    background-size: 40%;
    animation-duration: 1500s;
  }
}


@keyframes MOVE-BG {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(70%);
  }
}
@-webkit-keyframes MOVE-BG {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(70%);
  }
}

  
  .title {
    color: rgb(255, 253, 253);
    text-shadow: 0 0 5px black;
    text-align: center;
    font-family: "font-family: 'Patrick Hand', cursive;";
    font-size: 3rem;
  text-decoration: underline;
 
  }

  .calendar-main {

    display: grid;
grid-gap: 20px;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
padding: 40px;

  }

 

